In [1]:
import pandas as pd

In [42]:
df = pd.read_excel("../data/Hwaseong_data.xlsx", index_col = '월별')

In [43]:
# 112 x 109
df

,행정기관,총인구,총인구_남,총인구_여,내국인,내국인_남,내국인_여,외국인,외국인_남,외국인_여,...,CB_3_BBB,BaseRate,실업률,CPI_F,CPI_C,CPI_H,CPI_HE,CPI_T,CPI_E,CPI_M
월별,,,,,,,,,,,,,,,,,,,,,
2014-01-01,화성시,561418,296851,264567,530567,273924,256643,30851,22927,7924,...,9.019,2.50,3.2,85.705,93.172,89.865,95.224,110.321,94.986,86.312
2014-02-01,화성시,561970,297221,264749,530912,274128,256784,31058,23093,7965,...,8.974,2.50,3.6,86.581,93.180,90.473,95.205,110.130,95.185,86.941
2014-03-01,화성시,563241,297929,265312,532001,274736,257265,31240,23193,8047,...,8.994,2.50,3.4,86.810,93.310,90.681,95.260,110.050,95.900,87.724
2014-04-01,화성시,564807,298885,265922,533061,275361,257700,31746,23524,8222,...,8.998,2.50,3.6,86.733,93.277,90.297,95.150,109.879,95.936,87.783
2014-05-01,화성시,566485,299882,266603,534076,275882,258194,32409,24000,8409,...,8.957,2.50,3.5,86.741,93.740,91.030,95.196,109.749,95.973,88.174
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-01,화성시,961836,507737,454099,910814,473507,437307,51022,34230,16792,...,11.173,3.25,3.1,113.490,107.560,108.950,101.070,113.350,102.750,111.180
2023-01-01,화성시,965932,509924,456008,914500,475330,439170,51432,34594,16838,...,10.788,3.50,2.9,115.400,107.860,110.260,102.160,112.300,103.180,113.180
2023-02-01,화성시,971005,512632,458373,918865,477437,441428,52140,35195,16945,...,10.631,3.50,2.6,115.840,107.940,111.100,102.290,111.490,103.410,113.420
2023-03-01,화성시,975106,514893,460213,922231,479113,443118,52875,35780,17095,...,10.595,3.50,2.7,116.340,108.280,111.150,102.300,111.060,103.990,113.920
2023-04-01,화성시,978653,516886,461767,925186,480653,444533,53467,36233,17234,...,10.458,3.50,2.6,115.670,108.300,112.030,102.010,112.010,104.240,115.060

In [39]:
df1 = pd.read_excel('../data/강수.xlsx', index_col = '월별' )
df2 = pd.read_excel('../data/기온.xlsx', index_col = '월별' )
df3 = pd.read_excel('../data/용도지역별 토지거래현황.xlsx', index_col = '월별' )
df4 = pd.read_excel('../data/의료인력 현황.xlsx', index_col = '월별' )
df5 = pd.read_excel('../data/자동차 등록대수 현황.xlsx', index_col = '월별' )
df6 = pd.read_excel('../data/주택 거래현황.xlsx', index_col = '월별' )
df7 = pd.read_excel('../data/화성시 10세별 남자(최종).xlsx', index_col = '월별' )[:112]
df8 = pd.read_excel('../data/화성시 10세별 여자(최종).xlsx', index_col = '월별' )[:112]
df9 = pd.read_excel('../data/화성시 10세별 총인구(최종).xlsx', index_col = '월별' )[:112]
df10 = pd.read_excel('../data/화성시 읍면동별 지가변동률(최종).xlsx', index_col = '월별' )[:112]
df11 = pd.read_excel('../data/화성시 읍면동별 총인구(최종).xlsx', index_col = '월별' )[:112]
data_list = [df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11]

In [30]:
# 112개월 이상 자료 컷(태영이가 수집한 5개)

for i in data_list:
    print(i.columns)
    #print(len(i))

Index(['월평균강수'], dtype='object')
Index(['월평균기온', '월최고기온', '월최저기온'], dtype='object')
Index(['도시지역_주거지역', '도시지역_상업지역', '도시지역_공업지역', '도시지역_녹지지역', '도시지역_개발제한구역',
       '도시지역_용도미지정', '관리지역', '농림지역', '자연환경보전지역'],
      dtype='object')
Index(['의사', '치과의사', '한의사', '약사', '물리치료사', '의료인력_총합'], dtype='object')
Index(['승용차', '승합차', '화물차', '특수차', '자동차_총합'], dtype='object')
Index(['주택 거래 현황'], dtype='object')
Index(['0_9세_남', '10_19세_남', '20_29세_남', '30_39세_남', '40_49세_남', '50_59세_남',
       '60_69세_남', '70_79세_남', '80_89세_남', '90_99세_남', '100세이상_남'],
      dtype='object')
Index(['0_9세_여', '10_19세_여', '20_29세_여', '30_39세_여', '40_49세_여', '50_59세_여',
       '60_69세_여', '70_79세_여', '80_89세_여', '90_99세_여', '100세이상_여'],
      dtype='object')
Index(['0_9세_총인구', '10_19세_총인구', '20_29세_총인구', '30_39세_총인구', '40_49세_총인구',
       '50_59세_총인구', '60_69세_총인구', '70_79세_총인구', '80_89세_총인구', '90_99세_여',
       '100세이상_총인구'],
      dtype='object')
Index(['지가변동률 _농촌생활권', '지가변동률_도시생활이용권', '지가변동률 _도시생활권'], dtype='object')
Index(['총인구_농촌생활권', '총인구_도시생활이용권', '총인구_도시생활권'], dtype='object')

In [44]:
df_end = pd.concat([df, df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11], axis = 1)

In [45]:
df_end

,행정기관,총인구,총인구_남,총인구_여,내국인,내국인_남,내국인_여,외국인,외국인_남,외국인_여,...,70_79세_총인구,80_89세_총인구,90_99세_여,100세이상_총인구,지가변동률 _농촌생활권,지가변동률_도시생활이용권,지가변동률 _도시생활권,총인구_농촌생활권,총인구_도시생활이용권,총인구_도시생활권
월별,,,,,,,,,,,,,,,,,,,,,
2014-01-01,화성시,561418,296851,264567,530567,273924,256643,30851,22927,7924,...,0.040298,0.013748,0.001907,0.000123,NaN,NaN,NaN,0.247137,0.140442,0.612420
2014-02-01,화성시,561970,297221,264749,530912,274128,256784,31058,23093,7965,...,0.040229,0.013846,0.001914,0.000122,NaN,NaN,NaN,0.247435,0.140592,0.611973
2014-03-01,화성시,563241,297929,265312,532001,274736,257265,31240,23193,8047,...,0.040163,0.013925,0.001917,0.000122,NaN,NaN,NaN,0.247334,0.140949,0.611717
2014-04-01,화성시,564807,298885,265922,533061,275361,257700,31746,23524,8222,...,0.040189,0.014058,0.001902,0.000122,NaN,NaN,NaN,0.247529,0.141168,0.611303
2014-05-01,화성시,566485,299882,266603,534076,275882,258194,32409,24000,8409,...,0.040198,0.014189,0.001925,0.000122,NaN,NaN,NaN,0.247306,0.141248,0.611447
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-01,화성시,961836,507737,454099,910814,473507,437307,51022,34230,16792,...,0.039534,0.018722,0.002711,0.000071,0.0587,0.030667,0.006676,0.231373,0.169463,0.599164
2023-01-01,화성시,965932,509924,456008,914500,475330,439170,51432,34594,16838,...,0.039602,0.018752,0.002735,0.000071,0.0327,0.012333,-0.015912,0.230914,0.169262,0.599824
2023-02-01,화성시,971005,512632,458373,918865,477437,441428,52140,35195,16945,...,0.039575,0.018822,0.002753,0.000071,0.0217,0.026333,-0.011412,0.230022,0.168720,0.601258
2023-03-01,화성시,975106,514893,460213,922231,479113,443118,52875,35780,17095,...,0.039717,0.018854,0.002762,0.000070,0.0173,0.021000,-0.008824,0.229586,0.168616,0.601798
2023-04-01,화성시,978653,516886,461767,925186,480653,444533,53467,36233,17234,...,0.039890,0.018862,0.002792,0.000070,0.0117,0.007000,0.003853,0.229263,0.168521,0.602216

In [46]:
df_end.to_excel('최종 데이터.xlsx')